# -*- coding: utf-8 -*-
"""
Created on Tue Oct 24 14:00:19 2023

@author: Imanethepe
"""
{% extends parent_template|default:"goods/base_goods.html" %} 

{% block title %}
{{ block.super }} - {{ item.name|title }}
{% endblock %}

{% block content %}
  <section>

  <h3>{{ item.name|title }}</h3>
  
  <h4>Description</h4> 
  
  {{ item.description|linebreaks }}
  
  <h4>Quantity: {{item.quantity}}</h4>
  
  <h4>Estimated Price in {{item.currency}}: {{item.estimated_price}}</h4>
  
  <ul>
     <li>
       <a href="{{item.get_update_url}}">
         Update Item</a></li>
     <li>
       <a href="{{item.get_delete_url}}">
         Delete Item</a></li>
  </ul>
  
  <dl>      
    <dt>Tag{{ item.tags.count|pluralize }}</dt>
      {% for tag in item.tags.all %}
      <dd><a href="{{tag.get_absolute_url}}">
        {{ tag.name|title }}
      </a></dd>
    {% endfor %}
  
  </dl>
  </section>
{% endblock %}
