# -*- coding: utf-8 -*-
"""
Created on Sun Oct 22 14:15:00 2023

@author: Imanethepe
"""
{% extends parent_template|default:"goods/base_goods.html" %} 

{% block title %}
{{ block.super }} - Items
{% endblock %}

{% block content %}
{% load template_filters %}
 
 <h2>Items List</h2>
  <div>
    <a href="{% url 'goods_item_create' %}">
      Create New Item</a>
  </div>

 <ul>
   {% for item in item_list %}
    <li>
      <a href="{{item.get_absolute_url}}">
   {{ item.name }} - Quantity: {{item.quantity}} 
   - Total Estimated Price in {{item.currency}}: 
   {{item.total_item_estimated_price}}</a>   
    </li>
   {% empty %}
     <li><em>No Items in  list</em></li>
   {% endfor %}
   {% for key, value in data.items %}
 <h4>Total Inventory Value in {{currency}}: {{value|floatformat:2}}</h4> 
   {% endfor %}
   
</ul>
{% endblock %}