# -*- coding: utf-8 -*-
"""
Created on Sun Oct 22 14:15:00 2023

@author: Imanethepe
"""
{% extends parent_template|default:"goods/base_goods.html" %} 

{% block title %}
{{ block.super }} - Items
{% endblock %}

{% block content %}
 
 <h2>Items List</h2>
  <div>
    <a href="{% url 'goods_item_create' %}">
      Create New Item</a>
  </div>

 <ul>
   {% for item in item_list %}
    <li>
      <a href="{{item.get_absolute_url}}">
        {{ item.name }}</a>
      <ul>
        <li>
           <a href="">
             Update Item</a></li>
        <li>
           <a href="">
             Delete Item</a></li>
      </ul>  
    </li>
   {% empty %}
     <li><em>No Items in  list</em></li>
   {% endfor %}
 </ul>
{% endblock %}