# -*- coding: utf-8 -*-
"""
Created on Tue Oct 31 16:09:00 2023

@author: Imanethepe
"""

{% extends parent_template|default:"goods/base_goods.html" %}


{% block title %}
{{ block.super }} - Delete Tag
{% endblock %}

{% block content %}
  <div>
    <div>
      <form
          action="{{ tag.get_delete_url }}"
          method="post">
        {% csrf_token %} 
        <p>
        Are you sure you want to Delete
        Tag {{ tag.name }}?
        </p>
        <a href="{{ tag.get_absolute_url }}">
          Cancel</a>
        <button type="submit">Delete Tag</button>
      </form>
    </div>
  </div> 
{% endblock %}
