# -*- coding: utf-8 -*-
"""
Created on Sun Oct 22 14:15:00 2023

@author: Imanethepe
"""

 {% extends parent_template|default:"goods/base_goods.html" %}

 {% block title %}
 {{ block.super }} - Tags
 {% endblock %} 
 
 {% block content %}
 
  <h2>Tags List</h2>
    <div>
      <a href="{% url 'goods_tag_create' %}">
        Create New Tag</a>
    </div>
  <ul> 
    {% for tag in tag_list %} 
      <li> 
        <a href="{{tag.get_absolute_url}}"> 
          {{ tag.name|title }}</a>
      </li>
      <ul>
        <li>
           <a href="">
             Update Tag</a></li>
        <li>
           <a href="">
             Delete Tag</a></li>
      </ul>
     {% empty %}
       <li><em>There are currently no Tags available.</em></li>
     {% endfor %}
  </ul>  
 {% endblock %}
