# -*- coding: utf-8 -*-
"""
Created on Tue Oct 24 14:00:19 2023

@author: Imanethepe
"""

 {% extends parent_template|default:"goods/base_goods.html" %}

 {% block title %}
 {{ block.super }} - {{ tag.name|title }}
 {% endblock %}

 {% block content %}
 
  <h2>{{ tag.name|title }}</h2>
   {% if tag.item_set.all %}
    <section>
      <dl>      
        <dt>
        Tag is associated with 
        {{ tag.item_set.count }} 
        item{{ tag.item_set.count|pluralize }}:
       </dt>      
        {% for item in tag.item_set.all %}
         <dd><a href="{{item.get_absolute_url}}">
           {{ item.name }}
         </a></dd>
       {% endfor %}     
     </dl>
       
    </section>
 {% endif %}

  <ul>
     <li>
       <a href="{{tag.get_update_url}}">
         Update Tag</a></li>
     <li>
       <a href="{{tag.get_delete_url}}">
         Delete Tag</a></li>
  </ul>
    {% if not tag.item_set.all %}
      <p>This tag is not related to any content.</p>
    {% endif %}
{% endblock %}
